@model IEnumerable<CrowdFunding.Models.Detail>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
    @{
        if (this.Model.Count() > 0)
        {
            var myItemID = this.Model.FirstOrDefault().ProjectId;
            //var myItemID = myItem.Project.ProjectId;
            @Html.ActionLink("Add Update to this Project", "CreateSpecific", "Details", new { id = myItemID }, null)
        }
        else
        {
            <a asp-action="Create">Create New Update</a>
        }

    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DetailId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DetailId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DetailId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
